.boxs{
    background-color: gray;
    width: 100vw;
    height: 70vh;
    position: relative;
}
.boxs :nth-child(1){
    background-color: red;
    width: 150px;
    height: 140px;
    margin-left: 20px;
    padding-top: 30px;
    position: relative;
}
.boxs :nth-child(2){
    background-color: pink;
    width: 150px;
    height: 140px;
    margin-left: 150px;
    margin-top: -50px;
    position: relative;
}
.boxs :nth-child(3){
    background-color: yellow;
    width: 150px;
    height: 140px;
    margin-left: 190px;
    margin-top: -20px;
   position: relative;
}
.boxs :nth-child(4){
    background-color: green;
    width: 150px;
    height: 140px;
    margin-left: 280px;
    margin-top: -280px;
    position: relative;
}